<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="kagemai_doc.css">
  <title>バグのライフサイクル</title>
</head>
<body>

<h1>バグのライフサイクル</h1>

<h2>シンプルテンプレート</h2>

<p>シンプルBTS テンプレートを用いた場合のバグのライフサイクルです。</p>

<p><img src="simple_template.png"></p>


<h2>BTS テンプレート</h2>

<p>BTS テンプレートを用いた場合のバグのライフサイクルです。</p>

<h3>現在のテンプレート</h3>

<p><img src="bts_template.png"></p>

<h3>修正案その１</h3>

<p>
<a href="http://www.daifukuya.com/kagemai/ml/users/msg00159.html">[kagemai-users:159]</a>
で提案されたもの。
</p>

<p><img src="bts_template_m1.png"></p>

<h3>修正案その２</h3>

<p>修正案その１を受けて考えたもの。</p>

<p><img src="bts_template_m2.png"></p>

<!-- ページのフッターは footer から自動で取り込まれます。-->
<%= open('footer') {|file| file.read } %>
</body>
</html>
