<%# requirements: report, new_report %>

<h2>Split report</h2>

The report has been split.

<ul>
  <li><%= report.href('Original report') %></li>
  <li><%= new_report.href('Split report') %></li>
</ul>
